<!DOCTYPE html>
<html>
<head>
  <title>Minimulcasts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless session[:token] %>
  <%= link_to 'Link To QuickBooks', authenticate_vendors_url %>
<% end %>

<% if notice %>
  <div style="padding: 10px;background: gainsboro;font-weight: 900;width: 50%;"><%= notice %></div>
<% end %>

<%= yield %>

</body>
</html>
